@model IEnumerable<ProjetoCotacao2.Models.AlimentoCotacao>


@{
    ViewBag.Title = "Cotação de Alimentos";
}

<h2 class="text-center mt-2">Cotação de Alimentos</h2>

<div class="">
    <div class="float-right ml-2 mb-2">
        @Html.ActionLink("Enviar email", "Email", "Alimento", new { @class = "btn btn-success" })
    </div>
    <div class="float-right mb-2">
        @Html.ActionLink("Adicionar mais itens na Cotação?", "BuscaNome", "Alimento", new { @class = "btn btn-danger" })
    </div>
</div>


<h2 style="margin-bottom:40px"></h2>
<table class="table table-hover table-striped" style="margin-bottom:40px">
    <tr>

        <th>
            Nome
        </th>
        <th>
            Preço
        </th>
        <th>
            Quantidade
        </th>
        <th>
            Estabelecimento
        </th>
        <th></th>
        <th></th>
        <th>Operações</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.alimento.nome.ToUpper()
            </td>
            <td>
                @item.Preco.ToString("C2")
            </td>
            <td>
                @item.Quantidade
            </td>
            <td>
                @{
                if (@item.alimento.estabelecimento == null)
                {
                    <b>Nenhum estabelecimento cadastrado!</b>
                }
                else
                {
                    @item.alimento.estabelecimento.nome.ToUpper()
                }
            }
        </td>
        <td>
            @Html.ActionLink(" ", "AdicionarQuantidade", "Alimento", new { id = item.AlimentoCotacaoId }, new { @class = "btn btn-success fa fa-plus" })
        </td>
        <td>
            @Html.ActionLink(" ", "DiminuirQuantidade", "Alimento", new { id = item.AlimentoCotacaoId }, new { @class = "btn btn-danger fa fa-minus" })
        </td>
        <td>
            @{
                double subtotal = item.Quantidade * item.Preco;
            }
            @subtotal.ToString("C2")
        </td>
        <td>
            @Html.ActionLink("Remover", "RemoverItem", "Alimento", new { id = item.AlimentoCotacaoId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
                }

</table>







