@model ProjetoCotacao2.Models.Alimento



@{
    ViewBag.Title = "Adicionar Alimento";
   
}

<h2 class="headertekst">Cadastro de Alimentos</h2>


@using (Html.BeginForm("Create", "Alimento", FormMethod.Post))
{
    @Html.AntiForgeryToken()




    <div class="form-horizontal">

        <hr />

        @*DIGITAR NOME ALIMENTO*@

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite o Nome do Alimento." } })
                @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
            </div>
        </div>

        @*DIGITAR CAMPO DE CATEGORIA:*@

        <div id="Categoria" class="form-group">
            @Html.Label("Categoria", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Categorias", null,
                         " Selecione uma Categoria ",
                         new { @class = "form-control" })
            </div>
        </div>

        <div id="Estabelecimento" class="form-group">
            @Html.Label("Estabelecimento", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Estabelecimentos", null,
                         " Selecione um Estabelecimento ",
                         new { @class = "form-control" })
            </div>
        </div>


        @*DIGITAR CAMPO DE DESCRICAO:*@

        <div class="form-group">
            @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite o Descrição do Alimento." } })
                @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
            </div>
        </div>


        @*DIGITAR CAMPO DE PRECO:*@

        <div class="form-group">
            @Html.LabelFor(model => model.preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.preco, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite o Preço do Alimento." } })
                @Html.ValidationMessageFor(model => model.preco, "", new { @class = "text-danger" })
            </div>
        </div>


        @*DIGITAR CAMPO DE QUANTIDADE:*@

        <div class="form-group">
            @Html.LabelFor(model => model.quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantidade, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite o Estoque do Alimento." } })
                @Html.ValidationMessageFor(model => model.quantidade, "", new { @class = "text-danger" })
            </div>
        </div>



        @*DIGITAR CAMPO DE UNIDADE:*@
        <div class="form-group">
            @Html.LabelFor(model => model.unidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.unidade, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite a Unidade do Alimento." } })
                @Html.ValidationMessageFor(model => model.unidade, "", new { @class = "text-danger" })
            </div>
        </div>



        @*BOTÃO DE SUBMIT:*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
            
        }

