@model ProjetoCotacao2.Models.Alimento

@{
    ViewBag.Title = "Detalhe";
}

<h3><b>@Model.nome.ToUpper()</b></h3>
<div class="row">
    <div class="col-md-12 text-center" style="text-align:left">
        <b>Nome: </b> @Model.nome.ToUpper()<br />
        <b>Descrição: </b> @Model.descricao.ToUpper()<br />
        <b>Preço: </b> @Model.preco.ToString("C2")<br />
        <b>Quantidade: </b> @Model.quantidade<br />
        <b>Nome do Estabelecimento: </b> @Model.estabelecimento.nome.ToUpper()<br/>
        @{ 
            if(Model.Categoria == null)
            {
                <b>NULL</b>
            }
            else
            {
                <b>Categoria Do Alimento: </b> @Model.Categoria.Nome.ToUpper()<br/>
            }
        }
    </div>
</div>